<h1>Register to be successful</h1> <br> <br>

<form action="/registerPeople" method="post">
<br>
<label for="name">Name :</label> <input type="text" id="surname" name="name"> <br> <br> <br>
<label for="surname"> Surname : </label> <input type="text" id="surname" name="surname"> <br> <br>
<button type="submit">Submit</button>
</form>